body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.backgroundDev {
  background-image: url("../public/background/iron-man.jpg");
}

.backGroundPro {
  background-image: url("/HeroesApp/background/iron-man.jpg");
}

.card-body {
  color: #000;
}

.card {
  background-color: #f5f5f5;
}

.title {
  margin-top: 10px;
}

.button-signIn {
  min-width: 10%;
}

@media (max-width: 576px) {
  .nav-item,
  .associations-a {
    font-size: 12px !important;
  }
  .card {
    margin: 5px;
  }
  .card-title {
    font-size: 13px;
  }
  .card-text {
    font-size: 12px;
  }
}
